*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #131313;
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 80px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hover-title:not(.space1){
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: clamp(4rem, 8vw, 12rem);
    font-weight: bold;
    margin-bottom: 1rem;
    animation: fadeDown 1s ease-in-out ;
}
.hover-title.space1{
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: clamp(4rem, 8vw, 12rem);
    font-weight: bold;
    margin-bottom: 1rem;
    opacity: 0;
}
.hover-title:hover{
    transform: translateY(-10px);
    color: #0099ff;
}
.subtitle{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    animation: fadeUp 1s ease-in-out;   
    text-align: center;
}
.buttons{
    display: flex;
    gap: 1rem;
    animation: fadeUp 1.2s ease-in-out;
    margin-top: 2rem;
}
.button{
    padding: 0.75rem 1.5rem;
    background-color: #0099ff13;
    color: #ffffff;
    text-decoration: none;
    border-radius: 38px;
    transition: background-color 0.3s ease;
    border: 1px solid #eeeeee3b;
    transition: transform 0.3s ease;
}
.button:hover{
    background-color: #007acc33;
    border: 1px solid #ffffff;
    transform: scale(1.1);
    
}
/*Box w records*/
.box-container { position: relative; width: 100%; max-width: 300px; aspect-ratio: 1 / 1; margin: 1vw; }

.box { pointer-events: none; position: absolute; width: 100%; left: 50%; transform: translateX(-50%); }
.front { z-index: 10; }
.side { z-index: 5; }
.back { z-index: -3; }
.hitbox.r1-hit { z-index: 1; }
.hitbox.r2-hit { z-index: 2; }
.hitbox.r3-hit { z-index: 4; }
.hitbox.r4-hit { z-index: 3; }
.record { position: absolute; inset: 0; top: 28px; transform: skew(0deg, 10deg) translateY(0); transition: transform 0.4s cubic-bezier(0.4, 0.0, 0.2, 1); pointer-events: none; will-change: transform; }
.r1 { background: transparent; top: 14%; right: 17%; z-index: 1; }
.r2 { background: transparent; top: 15%; right: 23%; z-index: 1; }
.r3 { background: transparent; top: 17%; right: 35%; z-index: 3; }
.r4 { background: transparent; top: 16%; right: 29%; z-index: 2; }
.hitbox { position: absolute; width: 150px; height: 150px; background: transparent; }
.r1-hit { top: 14%; right: 17%; }
.r2-hit { top: 15%; right: 23%; }
.r3-hit { top: 17%; right: 35%; }
.r4-hit { top: 16%; right: 29%; }
.hitbox:hover .record { transform: skew(0deg, 10deg) translateY(-150px); }
.hitbox.record { animation: none; }
@media (max-width: 350px) { .scene { scale: 0.8; } }
@keyframes fadeDown{
    0%{
        opacity: 0%;
        transform: translateY(-20px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);

    }
}
@keyframes fadeDownSpace{
    0%{
        opacity: 0%;
        transform: translateY(-20px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);

    }
}
@keyframes fadeUp{
    0%{
        opacity: 0%;
        transform: translateY(20px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}
